/* nextpage.module.css */
.container {
    padding: 20px;
  }
  
  .translationsContainer {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
  }
  
  .sentenceContainer {
    margin-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sentenceContainer:hover,
  .sentenceContainer:focus {
    background-color: #e6e6e6;
  }
  
  .englishSentence {
    margin: 0;
    font-size: 18px; /* Adjust the font size as needed */
  }
  
  .bold {
    font-weight: bold;
  }
  
  .urduTranslation {
    font-family: 'Noto Nastaliq Urdu', cursive; /* Add your preferred Urdu font */
    margin: 0;
    font-size: 18px; /* Adjust the font size as needed */
  }
  